


.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-bar {
    background-color: rgb(255, 91, 40);
    display: grid;
    grid-template-columns: 20px auto 100px;
    padding: 2px;
    height: 20px;
}

#logo {
    height: 18px;
    width: 18;
    border: 1px solid white;
}

#nav-link-group {
    margin-top: 0px;
}

.nav-link {
    margin-top: 0px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

a:first-child {
    font-size: 17px;
    font-weight: 900;
    margin-right: 5px;
}

.login {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.main-container {
    background-color: rgb(245, 245, 237);
}

ol{
    margin: 0;
}

.comment {
    font-size: 15px;
}

.comment-info {
    font-size: 10px;
}

@media only screen and (max-width: 600px) {
    .comment{
        font-size: 10px;
    }
    .nav-bar {
        height: 40px;
    }

    .nav-link {
        font-size: 10px;
    }
}

